volumes:
  rabbitmq-data:
  pixivutil-data:
  pixivutil-downloads:

services:

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      start_period: 10s
    environment:
      - RABBITMQ_NODENAME=rabbitmq
    volumes:
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - ./rabbitmq/conf.d/20-logging.conf:/etc/rabbitmq/conf.d/20-logging.conf:ro
      - rabbitmq-data:/var/lib/rabbitmq:rw
    ports:
      - 127.0.0.1:15672:15672
    env_file:
      - .env

  pixivutil-worker:
    build: .
    container_name: pixivutil-worker
    # entrypoint: ["uv", "run"] # use this if you want to keep a non-root user.
    command: ["celery", "-A", "PixivServer.worker.pixiv_worker", "worker", "--concurrency=1", "--loglevel=debug", "-B"]
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - CELERYBEAT_SCHEDULE=/workdir/.pixivUtil2/celerybeat-schedule
      - PIXIVUTIL_COOKIE=$PIXIVUTIL_COOKIE
      - PIXIVUTIL_SERVER_ENV=development
      - RABBITMQ_BROKER_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - pixivutil-data:/workdir/.pixivUtil2
      - pixivutil-downloads:/workdir/downloads
    depends_on:
      rabbitmq:
        condition: service_healthy

  pixivutil-server:
    build: .
    container_name: pixivutil-server
    # entrypoint: ["uv", "run"] # use this if you want to keep a non-root user.
    command: ["uvicorn", "PixivServer.app:app", "--host", "0.0.0.0", "--port", "8000", "--log-level", "debug"]
    environment:
      - PUID=${PUID:-1000}
      - PGID=${PGID:-1000}
      - PIXIVUTIL_COOKIE=$PIXIVUTIL_COOKIE
      - PIXIVUTIL_SERVER_API_KEY=$PIXIVUTIL_SERVER_API_KEY
      - PIXIVUTIL_SERVER_ENV=development
      - RABBITMQ_BROKER_URL=amqp://guest:guest@rabbitmq:5672
    volumes:
      - pixivutil-data:/workdir/.pixivUtil2
      - pixivutil-downloads:/workdir/downloads
    depends_on:
      rabbitmq:
        condition: service_healthy
    env_file:
      - .env

  reverse-proxy:
    image: nginx:alpine
    container_name: pixivutil-nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - 8000:80
    depends_on:
      - pixivutil-server
